.porque {
  width: 95%;
  margin: auto;
  overflow: hidden;

  @include desktop {
    width: 1150px;
    margin: auto;
  }

  // * ===============================================
  // * TITULOS
  // * ===============================================
  .tipoPorque {
    text-align: center;

    @include desktop {
      width: 1150px;
      display: none;
    }

    .titlePorque {
      font-family: $title;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
      color: $gray;
    }
  }

  // * ===============================================
  // * Info Existente
  // * ===============================================
  .info__existente {
    background-image: url('../img/porque/existente_movil.jpg');
    background-position-x: -428px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;

    .titlePorqueEspecial {
      display: none;
    }

    @include tablet {
      background-image: url('../img/porque/existente_tableta.jpg');
      background-position: center;
      margin-top: 10px;
    }

    @include desktop {
      background-image: url('../img/porque/existente_escritorio.jpg');
      background-position: center;
      margin-top: 30px;
      position: relative;

      .titlePorqueEspecial {
        display: block;
        font-family: $title;
        font-weight: bold;
        font-size: 40px;
        color: $gray;
        position: absolute;
        top: 190px;
        left: 360px;

        span {
          display: block;
          text-align: center;
        }
      }

    }
  }

  // * ===============================================
  // * Animacion
  // * ===============================================
  .contenedor {
    margin-top: 20px;
    position: relative;
    height: 260px;
    margin-bottom: 20px;
    height: 400px;

    @include tablet {
      margin: auto;
      margin-top: 20px;
      width: 600px;
      height: 460px;
    }

    @include desktop {
      width: 600px;
      height: 435px;
    }

    .slider-for {
      position: absolute;
      width: 230px;
      right: 75px;
      height: 100%;

      @include tablet {
        width: 350px;
        right: 150px;
      }

      @include desktop {
        width: 500px;
      }

      .title__contenedor {
        text-align: center;
        font-family: $title;
        font-weight: bold;

        @include desktop {
          font-size: 20px;
        }
      }

      .imgContenedor {
        // background: #000;
        width: 100%;
        height: 230px;

        @include tablet {
          height: 350px;
        }

        @include desktop {
          height: 300px;
        }

      }

      .txt__contenedor {
        font-size: 13px;

        @include desktop {
          font-size: 14px;
          margin-top: 30px;
        }
      }

      .imgUno {
        background-image: url('../img/gif/gif01.webp');
        background-size: contain;
        background-repeat: no-repeat;

        @include desktop {
          background-position: center;
        }
      }

      .imgDos {
        background-image: url('../img/gif/gif02.webp');
        background-size: contain;
        background-repeat: no-repeat;

        @include desktop {
          background-position: center;
        }
      }

      .imgTres {
        background-image: url('../img/gif/gif03.webp');
        background-size: contain;
        background-repeat: no-repeat;

        @include desktop {
          background-position: center;
        }
      }
    }

    .slider-nav {
      width: 70px;
      height: 210px;
      margin: auto;
      position: absolute;
      left: 0px;

      // background: #000; 
      @include tablet {
        width: 150px;
        height: 375px;
        left: 50px;
        // background: #000;
      }

      @include desktop {
        width: 150px;
        height: 375px;
        left: 25px;
        // background: #000;
        top: 50px;
      }

      h3 {
        background: $black;
        border-radius: 50px;
        text-align: center;
        height: 80px;
        width: 80px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;

        @include tablet {
          height: 100px;
          width: 100px;
        }

        @include desktop {
          height: 80px;
          width: 80px;
        }
      }


      #option3,
      #option2 {
        opacity: 0.2;
        font-size: 12px;
      }

      #option1 {
        opacity: 1;
        font-size: 12px;
      }

      @include tablet {

        #option1,
        #option2,
        #option3 {
          font-size: 13px;
        }
      }

      .slick-track {
        left: -60px;
        display: flex;
        flex-direction: column;

        @include tablet {
          left: -35px;

        }
      }
    }

    // * ===============================================
    // * Cuadros para animar
    // * ===============================================

    #icono1 {
      width: 150px;
      height: 190px;
      background-image: url(../img/porque/movil/01.png);
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 1;
      border-radius: 10px;
      top: 6px;
      left: 20px;

      @include tablet {
        background-image: url(../img/porque/tableta/01.png);
        width: 220px;
        height: 250px;
        top: 6px;
        left: 30px;
      }


      @include desktop {
        // background-image: url(../img/porque/escritorio/01.png);
        width: 140px;
        height: 180px;
        top: 30px;
        left: 60px;
        background-size: contain;
      }
    }

    #icono2 {
      width: 170px;
      height: 150px;
      background-image: url(../img/porque/movil/04.png);
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 1;
      bottom: 40px;
      border-radius: 10px;

      @include tablet {
        background-image: url(../img/porque/tableta/04.png);
        width: 250px;
        height: 180px;
        left: 20px;
        bottom: 40px;
      }

      @include desktop {
        background-image: url(../img/porque/escritorio/04.png);
        width: 180px;
        height: 130px;
        bottom: 50px;
        left: 59px;
        background-size: contain;
      }

    }

    #icono3 {
      width: 170px;
      height: 150px;
      background-image: url(../img/porque/movil/05.png);
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 1;
      top: 20px;
      right: 10px;
      border-radius: 10px;

      @include tablet {
        background-image: url(../img/porque/tableta/05.png);
        width: 250px;
        height: 180px;
      }

      @include desktop {
        background-image: url(../img/porque/escritorio/05.png);
        width: 180px;
        height: 130px;
        top: 30px;
        right: 120px;
        background-size: contain;
      }

    }

    #icono4 {
      width: 150px;
      height: 190px;
      background-image: url(../img/porque/movil/03.png);
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 1;
      bottom: 40px;
      right: 10px;
      border-radius: 10px;

      @include tablet {
        background-image: url(../img/porque/tableta/03.png);
        width: 220px;
        height: 250px;
        bottom: 10px;
        right: 8px;
      }

      @include desktop {
        background-image: url(../img/porque/escritorio/03.png);
        width: 140px;
        height: 180px;
        bottom: 50px;
        right: 90px;
        background-size: contain;
      }

    }

    #icono5 {
      width: 150px;
      height: 190px;
      background-image: url(../img/porque/movil/02.png);
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 1;
      bottom: 130px;
      right: 110px;
      border-radius: 10px;

      @include tablet {
        background-image: url(../img/porque/tableta/02.png);
        width: 220px;
        height: 250px;
        bottom: 60px;
        right: 200px;
      }

      @include desktop {
        background-image: url(../img/porque/escritorio/02.png);
        width: 140px;
        height: 180px;
        bottom: 120px;
        right: 238px;
        background-size: contain;

      }

    }

    // * ===============================================
    // * Animaciones
    // * ===============================================
    [data-aos=anim1],
    [data-aos=anim2],
    [data-aos=anim3],
    [data-aos=anim4],
    [data-aos=anim5],
    [data-aos=anim6] {
      transition-property: transform;
    }

    [data-aos=anim1].aos-animate {
      transform: translate(-500%, -150px);
    }

    [data-aos=anim2].aos-animate {
      transform: translate(-500%, 150px);
    }

    [data-aos=anim3].aos-animate {
      transform: translate(500%, 0px);

    }

    [data-aos=anim4].aos-animate {
      transform: translate(500%, -150px);

    }

    [data-aos=anim5].aos-animate {
      transform: translate(500%, 150px);

    }

    [data-aos=anim6].aos-animate {
      transform: translate(25%, 0px)
    }


  }

  // * ===============================================
  // * Boton cotizar
  // * ===============================================

  .btnCotizar {
    a {
      display: block;
      text-decoration: none;
      text-align: center;
      background: $orange;
      margin: auto;
      margin-top: 20px;
      width: 90%;
      color: $white;
      font-weight: bold;
      border-radius: 5px;
      font-family: $title;
      font-size: 14px;
      padding: 10px 0px;

      @include tablet {
        width: 70%;
        font-size: 20px;
      }

      @include desktop {
        width: 400px;
        font-size: 16px;
      }
    }
  }

}