.whatsApp {
  height: 80px;
  width: 80px;
  position: fixed;
  right: 0px;
  bottom: 20px;
  z-index: 99;

  a {
    display: block;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;

    img {
      height: 80px;
    }
  }
}